@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.green-title{
    @apply font-bold font-Rajdhani text-primary text-lg text-center w-full;
}

.title-style2{
    @apply font-bold font-reboto text-2xl text-dark-primary text-justify;
}

.text-style1{
    @apply font-reboto  text-gray-500;
}

body{
    background-color: #f1f1f1;
}

input{
    width: 100%;
}
label{
    font-weight: bold;
    font-family: "Rajdhani";
    font-size: 1.1rem;
    color: #1a2a36;
}
textarea,
input{
    padding: 5px 10px;
    outline: none;
    border-radius: 2.5px;
    background-color: rgb(242, 242, 242);
}
textarea:focus,
input:focus{
    outline: none;
}